body {
    background-color:white;
    font-family: "Lucida Sans", sans-serif;
}

.signage {
    text-align:center;
}

input[type=submit] {
    background-color:#456b6b;
    padding: 12px 20px;
    box-sizing: border-box;
    border:none;
    cursor:pointer;
}

input[type=button] {
    padding: 6px 10px;
    background-color:#456b6b;
    box-sizing: border-box;
    border:none;
    cursor:pointer;
}

input[type=text] {
    color:black;
    width: 100%;
    padding: 12px 20px;
    margin: 2% 0;
    box-sizing: border-box;
}

.main_page {
    position:relative;
    overflow:hidden;
    background-color: black;
}
.main_page::after{
    content:"";
    clear:both;
    display:table;
}

#head_banner {
    text-align:right;
    position:relative;
    height:10vh;
    width:100%;
    background:#16191c;
    border-style:solid;
    border-width:1px;
    border-color:black;
    color:white;
    margin: 10px; 

}
@media (max-width: 800px) {
    .main_page >div.left_half, .main_page> div.middle_half, .main_page>div.right_half {   
        width: 100%; 
        padding: 0;
    }
}

.left_half {
    width:25%;
    float:left;
}
.left_half::after{
    content:"";
    clear:both;
    display:table;
}

.middle_half {
    width:50%;
    float:left;
    /* //border-left:4vw solid #2a3345;
    border-right:4vw solid #2a3345; */
}

.middle_half::after{
    content:"";
    clear:both;
    display:table;
}

.right_half {
    width:25%;
    float:left;
}
.right_half::after{
    content:"";
    clear:both;
    display:table;
}
#week_goal {
    width:100%;
    height:25%;
    border-top:1vw solid #2a3345;
    background-color:black;
    color:white;
}
#info_list {
    max-height:50vh;
}
.tab_nav {
    width:100%;
    overflow:hidden;
    margin-left:5%;
    margin-bottom:2%;
}
.tab_nav::after{
    content:"";
    clear:both;
    display:table;
}

.tab_nav button {
    background-color:#373a3f;
    margin-left:auto;
    margin-right:auto;
    display:block;
    color:white;
    white-space:nowrap;
    border:none;
    outline:none;
    cursor:pointer;
    padding: 14px 16px;
    font-size:1.5em;
    width:43%;
}

.tab_nav button:hover {
    background-color:#777;
}

#current_client {
    text-align:center;
    background-color:#373a3f;
    color:white;
    white-space:nowrap;
    float:left;
    border-bottom:1px solid white;
    outline:none;
    cursor:pointer;
    padding: 14px 16px;
    font-size:1.5em;
    width:43%;
    margin-left:18%;
    margin-top:2%;
}
.calendar {
    text-align:center;
    max-height:100vh;
    overflow-y:auto;
}
.calendar::after {
    content:"";
    clear:both;
    display:table;
}

#client_search {
    width: 80%; 
    border: 1px solid #ddd;
    margin: 4% auto; 
}

#info_content {
    max-height:50vh;
}
table.given_calendar {
    width:100%;
    border-spacing:15px;
}

table.given_calendar td{
    text-align:left;
    background-color:#dddddd;
    padding-top:5%;
}

table.given_calendar td::after {
    content:"";
    clear:both;
}

table.given_calendar th{
    height:10vh;
    text-align:center;
    background-color:#44646e;
    color:white;
}
.table-wrapper {
    overflow-y:auto;
    max-height:60%;
    border-bottom:2px solid black;
}
table.component_table {
    width:100%;
    border-spacing:10px;
}
table.component_table td{
    text-align:left;
    background-color:#15212b;
}

.client_name {
    text-align:center;
    color:black;
    white-space:nowrap;
    float:left;
    border:none;
    outline:none;
    cursor:pointer;
    padding:5%;
    margin-bottom:1%;
    font-size:1.2em;
    width:100%;
}

.client_name::after{
    content:"";
    clear:both;
    display:table;
}

button.client_name:hover {
    background-color:#777;
}

button.client_name:focus{
    background-color:#2b69c5;
}

.live_chat {
    position:relative;
    text-align:left;
    width:100%;
    border-top:1vw solid #2a3345;
    background-color:gray;
    color:white;
}

.live_chat::after{
    content:"";
    clear:both;
    display:table;
}
#chat_input {
    margin-top:1%;
    margin-left:2%;
    width:70%;
    height:6vh;
    border:2px solid gray;
}
.live_text_enter {
    position:relative;
    float:left;
}
.contacts {
    position:relative;
    float:left;
    clear:left;
}

.contacts::after{
    content:"";
    clear:both;
    display:table;
}
.contact_photos {
    margin-top: 3%;
}
.contact_photos::after{
    content:"";
    clear:both;
    display:table;
}
.contact_photos img {
    float:left;
    width:2vw;
    height:4vh;
    border-radius:40%;
    cursor:pointer;
}

